body {
  font-family: "Roboto", sans-serif;
  background-color: var(--classic-white-color);
  color: var(--slatecolor);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
* {
  box-sizing: border-box;
}
img {
  display: block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --bluecolor: #4d5ae5;
  --slatecolor: #434455;
  --whitecolor: #f4f4fd;
  --button-border-color: #e7e9fc;
  --link-color: #404bbf;
  --classic-white-color: #ffffff;
  --dark-blue-color: #2e2f42;
}
/* Header */
.header {
  border-bottom: 1px solid var(--button-border-color);
}
.container {
  margin: 0 auto;
  width: 1440px;
  padding: 0 auto;
}
.nav-menu {
  display: flex;
  align-items: center;
  margin-left: 156px;
}
.header-container {
  display: flex;
  height: 72px;
  align-items: center;
  flex-shrink: 0;
}
.header-list {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bluecolor);
  display: inline-flex;
  height: 24px;
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.dark-logo {
  color: var(--dark-blue-color);
}
.header-links {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  display: inline-flex;
  align-items: flex-start;
  padding: 24px 0;
}
.header-links:hover,
.header-links:focus {
  color: var(--link-color);
}
.header-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slatecolor);
  text-decoration: none;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--link-color);
}
.adress-list {
  font-style: normal;
  margin-left: 332px;
}
.adress-list-ul {
  display: flex;
  gap: 40px;
}
.list {
  list-style: none;
}
/* Main */

/* 1 section */
.first-section {
  background-color: var(--dark-blue-color);
  padding: 188px 0;
}
.first-section-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--classic-white-color);
  max-width: 496px;
  margin: 0 auto;
}
.first-section-button {
  background: var(--bluecolor);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--classic-white-color);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 48px;
}
.first-section-button:hover,
.first-section-button:focus {
  background-color: var(--link-color);
  cursor: pointer;
}

/* 2 section */
.second-section {
  padding: 120px 0;
}
.second-section-list {
  display: flex;
  gap: 24px;
  margin-left: 156px;
}
.second-section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.second-section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slatecolor);
}
.second-section-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  flex-basis: 264px;
}

/* 3 section */
.third-section {
  padding-bottom: 120px;
}
.third-section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  display: block;
}
.third-section-images {
  display: flex;
  gap: 24px;
  margin-left: 156px;
}
.third-section-item {
  width: 360px;
  height: 300px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>),
    lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}
/* 4 section */
.team-cards-section {
  padding: 120px 0;
  background-color: var(--whitecolor);
}
.team-cards-section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-cards {
  display: flex;
  gap: 24px;
  margin-left: 156px;
}
.team-cards-titles {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-cards-item {
  background-color: var(--classic-white-color);
  flex-basis: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-cards-text-item {
  padding: 32px 16px;
  display: block;
  margin: 0 auto;
}
/* Footer */
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.light-logo {
  color: var(--whitecolor);
}
.footer-background {
  background: #2e2f42;
  color: var(--whitecolor);
  padding: 100px 0;
}
.footer-container {
  margin-left: 156px;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* Portfolio */
.main-section {
  padding: 96px 0 120px 0;
}
/* Filters */
.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--bluecolor);
  background: var(--whitecolor);
  cursor: pointer;
  display: flex;
  padding: 12px 24px;
  align-items: flex-start;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--button-border-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--classic-white-color);
  background-color: var(--link-color);
  border: 1px solid transparent;
}
/* Project cards */
.project-cards-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  max-width: 1128px;
  padding: 0;
  margin-left: 156px;
}
.project-cards-item {
  width: 360px;
}
.project-cards-titles {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-cards-text-item {
  padding: 32px 16px;
  border: 1px solid var(--button-border-color);
  border-top: none;
}
.project-cards-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slatecolor);
}
